.cart-toggle {
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: var(--text-color);
  padding: 10px;
  font-size: 1.5rem;
  /* cursor: pointer; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  transition: background-color 0.3s ease;
}

.cart-toggle:hover {
  background-color: blue;
  color: white;
}

.cart-toggle:active {
  background-color: blue;
  color: white;
}

.cart-toggle:focus {
  outline: none;
  box-shadow: 0 0 0 3px blue;
}

.cart-button {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
}

.cart-count {
  position: absolute;
  display: fixed;
  bottom: 15px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
}
