/* ------ FOOTER ------ */

.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20px, auto));
  gap: 2rem;
  background-color: blue;
  padding-top: 50px;
  margin-bottom: 0px;
}

.footer-box {
  display: flex;
  flex-direction: column;
}

.footer-box h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.footer-box a {
  margin-bottom: 0.8rem;
  transition: all 0.5s ease;
}

.footer-box a:hover {
  transform: translateX(-5px);
  color: var(--text-color);
}

.social a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 17px;
  border-radius: 10px;
  margin-right: 14px;
  transform: transform 0.6s;
}

.social a:hover {
  transform: rotate3d(0, 0, 1, 360deg) scale(1.06);
  color: red;
}
