/* ImageGallery.css */
.image-gallery {
  position: relative;
  width: 100vw; /* Ocupa 100% da largura da tela */
  height: 100vh; /* Ocupa 100% da altura da tela */
  overflow: hidden;
}

.gallery-image {
  width: 100%; /* Ocupa 100% da largura do contêiner */
  height: 100%; /* Ocupa 100% da altura do contêiner */
  object-fit: cover;
}
