.section-home {
  background-color: blue;
}

.section-home h1 {
  font-size: 3rem;
  font-family: var(--second-font);
  color: var(--text-color);
  padding-bottom: 50px;
  padding-top: 70px;
}

.section-home span {
  color: var(--bg-color);
  font-family: var(--second-font);
}

.section-home span:hover {
  color: rgb(0, 251, 176);
}
