* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

:root {
  --bg-color: #141414;
  --text-color: #fff;
  --main-color: #0a0a0a;
  --other-color: #d1f100;
  --second-color: #b4b8ab;

  --h1-font: 5.5rem;
  --h2-font: 2.5rem;
  --p-font: 1rem;

  --primary-font: "Montserrat", sans-serif;
  --second-font: "Dela Gothic One", sans-serif;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

a:-webkit-any-link {
  color: none;
}

Link {
  color: none;
}

/* Define o cursor personalizado para toda a página */
body {
  cursor: url("blue-cursor.svg"), auto;
}

/* Definir o cursor personalizado para elementos específicos */
button,
.custom-cursor {
  cursor: url("blue-cursor.svg"), auto;
}
